<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.crm.workbench.mapper.ContactsMapper" >
    <resultMap id="BaseResultMap" type="com.mycode.crm.workbench.domain.Contacts" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="owner" property="owner" jdbcType="CHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="customer" property="customer" jdbcType="CHAR" />
    <result column="fullname" property="fullname" jdbcType="VARCHAR" />
    <result column="appellation" property="appellation" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mphone" property="mphone" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="edit_by" property="editBy" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="contact_summary" property="contactSummary" jdbcType="VARCHAR" />
    <result column="next_contact_time" property="nextContactTime" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, owner, source, customer, fullname, appellation, email, mphone, job, create_by,
        create_time, edit_by, edit_time, description, contact_summary, next_contact_time,
        address
    </sql>

    <!--新增联系人-->
    <insert id="insertContact" parameterType="contacts">
        insert into tbl_contacts
            (id,owner,source,customer,fullname,appellation,email,mphone,job,create_by,create_time,
            description,contact_summary,next_contact_time,address)
        value
            (#{id},#{owner},#{source},#{customer},#{fullname},#{appellation},#{email},#{mphone},#{job},#{createBy},#{createTime},
             #{description},#{contactSummary},#{nextContactTime},#{address})
  </insert>

    <!--删除联系人 根据id数组-->
    <delete id="deleteContactByIds" parameterType="string">
        delete from tbl_contacts
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--删除联系人 根据id-->
    <delete id="deleteContactById" parameterType="string">
        delete from tbl_contacts
        where id = #{id}
    </delete>
    <delete id="deleteContactByCustomerIds" parameterType="string">
        delete from tbl_contacts
        where customer in
        <foreach collection="array" item="customerId" open="(" close=")" separator=",">
            #{customerId}
        </foreach>
    </delete>
    <delete id="deleteContactByCustomerId" parameterType="string">
        delete from tbl_contacts
        where customer = #{customerId}
    </delete>

    <!--修改联系人 根据id-->
    <update id="updateContactById" parameterType="contacts" >
        update tbl_contacts set
            owner = #{owner},
            source = #{source},
            fullname = #{fullname},
            appellation = #{appellation},
            job = #{job},
            mphone = #{mphone},
            email = #{email},
            customer = #{customer},
            description = #{description},
            contact_summary = #{contactSummary},
            next_contact_time = #{nextContactTime},
            address = #{address}
        where id = #{id}
    </update>

    <!--查询 多条联系人 分页查询 根据条件-->
    <select id="selectContactsForPageByCondition" parameterType="map" resultMap="BaseResultMap">
        select
            contacts.id,
            user1.name as owner,
            dic1.value as source,
            customer.name as customer,
            contacts.fullname,
            dic2.value as appellation,
            contacts.email,
            contacts.mphone,
            contacts.job,
            user2.name as create_by,
            contacts.create_time,
            user3.name as edit_by,
            contacts.edit_time,
            contacts.description,
            contacts.contact_summary,
            contacts.next_contact_time,
            contacts.address
        from
            tbl_contacts as contacts
        join tbl_user as user1 on user1.id = contacts.owner
        left join tbl_dic_value as dic1 on dic1.id = contacts.source
        left join tbl_dic_value as dic2 on dic2.id = contacts.appellation
        join tbl_user as user2 on user2.id = contacts.create_by
        left join tbl_user as user3 on user3.id = contacts.edit_by
        left join tbl_customer as customer on customer.id = contacts.customer
        <where>
            <if test="owner != null and owner != ''">
                and user1.name like "%" #{owner} "%"
            </if>
            <if test="fullname != null and fullname != ''">
                and contacts.fullname like "%" #{fullname} "%"
            </if>
            <if test="customer != null and customer != ''">
                and customer.name like "%${customer}%"
            </if>
            <if test="source != null and source != ''">
                and dic1.id = #{source}
            </if>
        </where>
        order by contacts.create_time desc
        limit #{beginNo},#{pageSize}
    </select>
    <!--查询分页条件查询结果的总条数-->
    <select id="selectCountByCondition" parameterType="map" resultType="int">
        select
            count(*)
        from
            tbl_contacts as contacts
        join tbl_user as user1 on user1.id = contacts.owner
        left join tbl_dic_value as dic1 on dic1.id = contacts.source
        left join tbl_customer as customer on customer.id = contacts.customer
        <where>
            <if test="owner != null and owner != ''">
                and user1.name like "%" #{owner} "%"
            </if>
            <if test="fullname != null and owner != ''">
                and contacts.fullname like "%" #{fullname} "%"
            </if>
            <if test="customer != null and fullname != ''">
                and customer.name like "%${customer}%"
            </if>
            <if test="source != null and customer != ''">
                and dic1.id = #{source}
            </if>
        </where>
    </select>
    <!--查询 多条联系人 根据客户id-->
    <select id="selectContactsForRemarkPageByCustomerId" parameterType="string" resultMap="BaseResultMap">
        select
            contacts.id,
            contacts.fullname,
            contacts.email,
            contacts.mphone
        from
            tbl_contacts as contacts
        where contacts.customer = #{customerId}
    </select>
    <!--查询所有 精细查询-->
    <select id="selectAllForDetail" resultMap="BaseResultMap">
        select
            contacts.id,
            user1.name as owner,
            dic1.value as source,
            customer.name as customer,
            contacts.fullname,
            dic2.value as appellation,
            contacts.email,
            contacts.mphone,
            contacts.job,
            user2.name as create_by,
            contacts.create_time,
            user3.name as edit_by,
            contacts.edit_time,
            contacts.description,
            contacts.contact_summary,
            contacts.next_contact_time,
            contacts.address
        from
        tbl_contacts as contacts
        join tbl_user as user1 on user1.id = contacts.owner
        left join tbl_dic_value as dic1 on dic1.id = contacts.source
        left join tbl_dic_value as dic2 on dic2.id = contacts.appellation
        join tbl_user as user2 on user2.id = contacts.create_by
        left join tbl_user as user3 on user3.id = contacts.edit_by
        left join tbl_customer as customer on customer.id = contacts.customer
    </select>
    <!--精细查询单条 根据id-->
    <select id="selectOneByIdForDetail" parameterType="string" resultMap="BaseResultMap">
        select
            contacts.id,
            user1.name as owner,
            dic1.value as source,
            customer.name as customer,
            contacts.fullname,
            dic2.value as appellation,
            contacts.email,
            contacts.mphone,
            contacts.job,
            user2.name as create_by,
            contacts.create_time,
            user3.name as edit_by,
            contacts.edit_time,
            contacts.description,
            contacts.contact_summary,
            contacts.next_contact_time,
            contacts.address
        from
            tbl_contacts as contacts
        join tbl_user as user1 on user1.id = contacts.owner
        left join tbl_dic_value as dic1 on dic1.id = contacts.source
        left join tbl_dic_value as dic2 on dic2.id = contacts.appellation
        join tbl_user as user2 on user2.id = contacts.create_by
        left join tbl_user as user3 on user3.id = contacts.edit_by
        left join tbl_customer as customer on customer.id = contacts.customer
        where contacts.id = #{id}
    </select>
    <!--快速查询单条 根据id-->
    <select id="selectOneByIdContacts" parameterType="string" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from tbl_contacts
        where id = #{id}
    </select>
    <!--查询客户根据客户分组-->
    <select id="selectCountGroupByCustomer" resultType="com.mycode.crm.workbench.domain.ChartObj">
        select
            count(*) as value,
            customer.name as name
        from tbl_contacts as contact
        left join tbl_customer as customer on customer.id = contact.customer
        group by contact.customer
    </select>
</mapper>