<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.crm.workbench.mapper.ContactsRemarkMapper" >
  <resultMap id="BaseResultMap" type="com.mycode.crm.workbench.domain.ContactsRemark" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="note_content" property="noteContent" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="edit_by" property="editBy" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="CHAR" />
    <result column="edit_flag" property="editFlag" jdbcType="CHAR" />
    <result column="contacts_id" property="contactsId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, note_content, create_by, create_time, edit_by, edit_time, edit_flag, contacts_id
  </sql>

  <!--添加联系人备注 通过list集合-->
  <insert id="insertContactsRemarkByList" parameterType="contactsRemark">
    insert into tbl_contacts_remark
        (id,note_content,create_by,create_time,edit_by,edit_time,edit_flag,contacts_id)
    values
    <foreach collection="list" separator="," item="contactsRemark">
      (#{contactsRemark.id},#{contactsRemark.noteContent},#{contactsRemark.createBy},#{contactsRemark.createTime},#{contactsRemark.editBy},#{contactsRemark.editTime},#{contactsRemark.editFlag},#{contactsRemark.contactsId})
    </foreach>
  </insert>

  <!--删除联系人备注 根据联系人id-->
  <delete id="deleteContactsRemarkByContactId" parameterType="string">
    delete from tbl_contacts_remark
    where contacts_id = #{contactsId}
  </delete>

  <!--精确查询多条联系人备注 根据联系人id-->
  <select id="selectContactsRemarkByContactId" parameterType="string" resultMap="BaseResultMap">
    select
        contactRemark.id,
        user1.name as create_by,
        contactRemark.create_time,
        user2.name as edit_by,
        contactRemark.edit_time,
        contactRemark.edit_flag,
        contactRemark.contacts_id
    from tbl_contacts_remark as contactRemark
    join tbl_user as user1 on user1.id = contactRemark.create_by
    left join tbl_user as user2 on user2.id = contactRemark.edit_by
    where contactRemark.contacts_id = #{contactId}
  </select>
</mapper>