<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.crm.workbench.mapper.ContactActivityRelationMapper" >
  <resultMap id="BaseResultMap" type="com.mycode.crm.workbench.domain.ContactActivityRelation" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="contact_id" property="contactId" jdbcType="CHAR" />
    <result column="activity_id" property="activityId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contact_id, activity_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_contact_activity_relation
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_contact_activity_relation
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.mycode.crm.workbench.domain.ContactActivityRelation" >
    insert into tbl_contact_activity_relation (id, contact_id, activity_id
      )
    values (#{id,jdbcType=CHAR}, #{contactId,jdbcType=CHAR}, #{activityId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mycode.crm.workbench.domain.ContactActivityRelation" >
    insert into tbl_contact_activity_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=CHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mycode.crm.workbench.domain.ContactActivityRelation" >
    update tbl_contact_activity_relation
    <set >
      <if test="contactId != null" >
        contact_id = #{contactId,jdbcType=CHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mycode.crm.workbench.domain.ContactActivityRelation" >
    update tbl_contact_activity_relation
    set contact_id = #{contactId,jdbcType=CHAR},
      activity_id = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>