<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.crm.workbench.mapper.CustomerMapper" >
    <resultMap id="BaseResultMap" type="com.mycode.crm.workbench.domain.Customer" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="owner" property="owner" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="edit_by" property="editBy" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="CHAR" />
    <result column="contact_summary" property="contactSummary" jdbcType="VARCHAR" />
    <result column="next_contact_time" property="nextContactTime" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, owner, name, website, phone, create_by, create_time, edit_by, edit_time, contact_summary,
    next_contact_time, description, address
    </sql>

    <!--增添客户-->
    <insert id="insertCustomer" parameterType="customer">
    insert into tbl_customer
    (id, owner, name, website,
     phone, create_by, create_time,contact_summary,
     next_contact_time, description, address)
    value(#{id},#{owner},#{name},#{website},#{phone},#{createBy},#{createTime},#{contactSummary},#{nextContactTime},#{description},#{address})
    </insert>

    <!--查询客户 分页查询 通过条件-->
    <select id="selectCustomerForPageByCondition" parameterType="map" resultMap="BaseResultMap">
        select
            customer.id,
            user1.name as owner,
            customer.name,
            customer.website,
            user2.name as create_by,
            customer.create_time,
            user3.name as edit_by,
            customer.edit_time,
            customer.contact_summary,
            customer.next_contact_time,
            customer.description,
            customer.address
        from
        tbl_customer as customer
        join tbl_user as user1 on user1.id = customer.owner
        join tbl_user as user2 on user2.id = customer.create_by
        left join tbl_user as user3 on user3.id = customer.edit_by
        <where>
            <if test="name != null">
                and customer.name like "%"#{name}"%"
            </if>
            <if test="owner != null">
                and customer.owner like "%"#{owner}"%"
            </if>
            <if test="phone != null">
                and customer.phone like "%"#{phone}"%"
            </if>
            <if test="website != null">
                and customer.website like "%"#{website}"%"
            </if>
        </where>
        order by customer.create_time desc
        limit #{beginNo},#{pageSize}
    </select>
    <select id="selectCountCustomerForPageByCondition" parameterType="map" resultType="int">
        select
            count(*)
        from tbl_customer
        <where>
            <if test="name != null">
                and name like "%"#{name}"%"
            </if>
            <if test="owner != null">
                and owner like "%"#{owner}"%"
            </if>
            <if test="phone != null">
                and phone like "%"#{phone}"%"
            </if>
            <if test="website != null">
                and website like "%"#{website}"%"
            </if>
        </where>
        limit #{beginNo},#{pageSize}
    </select>
</mapper>