<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycode.crm.settings.mapper.DicValueMapper" >
  <resultMap id="BaseResultMap" type="com.mycode.crm.settings.domain.DicValue" >
    <constructor >
      <idArg column="id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="text" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, value, text, order_no, type_code
  </sql>

  <!--查询数据字典 根据数据字典类型-->
  <select id="selectDicValueByTypeCode" resultMap="BaseResultMap" parameterType="string">
    select
        <include refid="Base_Column_List" />
    from tbl_dic_value
    where type_code = #{typeCode}
  </select>
  <!--查询单条信息 通过类型名-->
  <select id="selectDicValueByValue" parameterType="string" resultMap="BaseResultMap">
    select * from tbl_dic_value where value = #{value}
  </select>
</mapper>